//
// Global Variables
//
// (colors & typography changed to CSS vars and theme options)
//
// 01. Grid & Layout
// 02. Breakpoints
// 03. Decorative & Animation

// ---------------- 01. Grid & Layout

$gutter-width:   30px;   // used in sections
$sticky-footer:  true;   // change to "false" to remove and footer will just follow the content size.
$golden-large:	63.8%;
$max-text-line-width: 850px;


// ---------------- 02. Breakpoints
// (concept borrowed from http://tapps.us/breakpoint-article )

// Define breakpoints
$breakpoint-small: 600px;
$breakpoint-medium: 900px;
$breakpoint-large: 1200px;
$breakpoint-x-large: 1800px;

// Breakpoint groupings by devices (used by the mixins in _utilities)
$phone:                max-width $breakpoint-small;
$phone-landscape:      ($breakpoint-small $breakpoint-medium) (orientation landscape);
$tablet:               $breakpoint-small $breakpoint-large;
$tablet-landscape:     ($breakpoint-medium $breakpoint-large) (orientation landscape);
$tablet-portrait:      ($breakpoint-small $breakpoint-medium) (orientation portrait);
$desktop:              $breakpoint-large;
$large-desktop:        $breakpoint-x-large;

$tablet-portrait-down: max-width $breakpoint-medium;
$tablet-landscape-up:  $breakpoint-medium;


// ---------------- 03. Decorative & Animation

$border-radius: 			3em;
$button-transition-speed: 	200ms;
$default-button-padding:	1.25rem 4rem;
