/*
* Scut, a collection of Sass utilities
* to ease and improve our implementations of common style-code patterns.
* v1.4.0
* Docs at http://davidtheclark.github.io/scut
*/
@import "https://pro.fontawesome.com/releases/v5.8.1/css/all.css";
.assistive-text,
.visuallyhidden,
.screen-reader-text {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

@keyframes imageAnimation {
  0% {
    animation-timing-function: ease-in;
    opacity: 0; }
  7% {
    animation-timing-function: ease-out;
    opacity: 1; }
  44% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0; } }

/**
 * Block: image_text_row
 */
.block-image_text_row {
  display: block; }
  @media (min-width: 900px) {
    .block-image_text_row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-line-pack: stretch;
      align-content: stretch; }
      .block-image_text_row.text_image {
        -ms-flex-direction: row;
        flex-direction: row; }
      .block-image_text_row.image_text {
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse; }
      .block-image_text_row > .text,
      .block-image_text_row > .image {
        width: 49%; }
      .block-image_text_row > .image {
        -ms-flex: 1;
        flex: 1;
        background-size: cover; } }

/**
 * Block: hero
 */
.block-hero {
  display: block; }

/**
 * Block: hero
 */
.block-page_grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }
  .block-page_grid.large_grid > a {
    -ms-flex: 1;
    flex: 1;
    min-height: 40vh;
    min-width: 400px;
    position: relative; }
    .block-page_grid.large_grid > a object:after {
      content: '';
      position: absolute;
      pointer-events: none;
      top: 15px;
      bottom: 15px;
      left: 15px;
      right: 15px;
      border: 1px solid rgba(255, 255, 255, 0.5); }
    .block-page_grid.large_grid > a .image {
      width: 100%;
      height: 100%; }
      .block-page_grid.large_grid > a .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative; }
    .block-page_grid.large_grid > a .title {
      position: absolute;
      top: 10%;
      left: 0;
      padding: 1rem 50px;
      width: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center; }
    .block-page_grid.large_grid > a .excerpt {
      position: relative;
      margin-top: -20vh;
      padding: 1rem 50px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center; }

/**
 * Block: hero
 */
.block-hero {
  display: block;
  position: relative;
  min-height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden; }
  .block-hero.hero_size-full {
    min-height: 100vh; }
    .block-hero.hero_size-full .hero-content {
      min-height: 100vh; }
  .block-hero.hero_size-half {
    min-height: 50vh; }
    .block-hero.hero_size-half .hero-content {
      min-height: 50vh; }
  .block-hero.text-light {
    color: #fff; }
  .block-hero.text-dark {
    color: #414141; }
  .block-hero.text-right .hero-content {
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .block-hero.text-left .hero-content {
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .block-hero.text-center .hero-content {
    -ms-flex-pack: center;
    justify-content: center; }
  .block-hero.hero_type-video .video-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 59vh;
    z-index: -1; }
  .block-hero.hero_type-slides .slideshow-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }
    .block-hero.hero_type-slides .slideshow-container > figure {
      animation: imageAnimation 30s linear infinite 0s;
      backface-visibility: hidden;
      background-size: cover;
      background-position: center center;
      color: transparent;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
      padding: 0;
      margin: 0; }
  .block-hero .hero-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10vw; }
    .block-hero .hero-content .hero-content-container {
      max-width: 550px; }
      .block-hero .hero-content .hero-content-container h1 {
        margin-top: 0; }

/**
 *  global styles for start-made blocks in edit mode
 */
.wp-block {
  max-width: 95%; }

.block-editor-block-list__layout,
.editor-block-list__layout,
.block-editor-block-list__block {
  /* /.editor-block-list__block */ }
  .block-editor-block-list__layout .editor-block-list__block .editor-block-list__block-edit:before,
  .editor-block-list__layout .editor-block-list__block .editor-block-list__block-edit:before,
  .block-editor-block-list__block .editor-block-list__block .editor-block-list__block-edit:before {
    border: 1px solid rgba(122, 124, 189, 0.4); }
  .block-editor-block-list__layout.is-selected > .block-editor-block-list__block-edit:before,
  .editor-block-list__layout.is-selected > .block-editor-block-list__block-edit:before,
  .block-editor-block-list__block.is-selected > .block-editor-block-list__block-edit:before {
    border: 2px solid #e1c43b;
    border-color: #e1c43b; }
  .block-editor-block-list__layout .editor-block-mover,
  .editor-block-list__layout .editor-block-mover,
  .block-editor-block-list__block .editor-block-mover {
    opacity: 1; }
  .block-editor-block-list__layout.block-editor-block-list__layout,
  .editor-block-list__layout.block-editor-block-list__layout,
  .block-editor-block-list__block.block-editor-block-list__layout {
    margin-top: 6rem; }

/* /.editor-block-list__layout */
.block-editor-block-list__layout .block-editor-block-list__block > .block-editor-block-list__insertion-point {
  top: -3rem; }

.block-editor-block-list__layout .block-editor-block-list__block.is-selected > .block-editor-block-list__block-edit:before {
  border: 2px solid #e1c43b;
  border-color: #e1c43b; }

.block-editor-block-list__insertion-point-inserter,
.editor-block-list__insertion-point-inserter:not(:hover) {
  opacity: 1; }
  .block-editor-block-list__insertion-point-inserter .editor-inserter__toggle,
  .editor-block-list__insertion-point-inserter:not(:hover) .editor-inserter__toggle {
    color: rgba(65, 65, 65, 0.3); }
  .block-editor-block-list__insertion-point-inserter .block-editor-inserter__toggle,
  .editor-block-list__insertion-point-inserter:not(:hover) .block-editor-inserter__toggle {
    background: #fff; }

.edit-post-visual-editor .editor-default-block-appender .editor-inserter__toggle,
.edit-post-visual-editor .editor-default-block-appender .editor-inserter__toggle:not([aria-expanded=true]) {
  opacity: 0.4; }

.edit-post-visual-editor .block-editor-block-list__block {
  margin-bottom: 6rem; }

/* /.edit-post-visual-editor */
.editor-post-title__block .editor-post-title__input {
  border-color: rgba(122, 124, 189, 0.4); }

.editor-block-list__empty-block-inserter.block-editor-block-list__empty-block-inserter {
  opacity: 1; }

.padding {
  padding: 10px; }

.block-hero.hero_size-full {
  min-height: 500px; }
  .block-hero.hero_size-full .hero-content {
    min-height: 500px; }

.block-hero.hero_size-half {
  min-height: 300px; }
  .block-hero.hero_size-half .hero-content {
    min-height: 300px; }

.block-hero.text-light h1 {
  color: #fff; }

.block-hero.text-dark h1 {
  color: #414141; }
