@charset "UTF-8";
/******************************************************************

Stylesheet: Main Stylesheet

Here's where the magic happens. Here is where you import
all of your Sass files so they can compile into one
CSS file. 

******************************************************************/
/*
* Scut, a collection of Sass utilities
* to ease and improve our implementations of common style-code patterns.
* v1.4.4
* Docs at http://ramseyinhouse.github.io/scut
*/
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans:wght@300;700&family=Dancing+Script:wght@700&display=swap");
.assistive-text,
.visuallyhidden,
.screen-reader-text {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.cover-button {
  display: flex;
  flex-direction: column;
}
.cover-button .wp-block-cover__inner-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.cover-button .wp-block-cover__inner-container h2 {
  flex: 1;
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
}
.cover-button .wp-block-cover__inner-container h2 a {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
}
.cover-button .wp-block-cover__inner-container h2 a:hover, .cover-button .wp-block-cover__inner-container h2 a:focus, .cover-button .wp-block-cover__inner-container h2 a:target {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #fff;
}

.has-dark-brown-color {
  color: #312b28;
}

.has-dark-brown-background-color {
  background-color: #312b28;
}

.has-light-brown-color {
  color: #8B7355;
}

.has-light-brown-background-color {
  background-color: #8B7355;
}

.has-peach-color {
  color: #F4A460;
}

.has-peach-background-color {
  background-color: #F4A460;
}

.has-beige-color {
  color: #CDC9A5;
}

.has-beige-background-color {
  background-color: #CDC9A5;
}

.has-cream-color {
  color: #FFE7BA;
}

.has-cream-background-color {
  background-color: #FFE7BA;
}

.has-offwhite-color {
  color: #F2F2F2;
}

.has-offwhite-background-color {
  background-color: #F2F2F2;
}

.has-dark-grey-color {
  color: #131212;
}

.has-dark-grey-background-color {
  background-color: #131212;
}

.has-dark-grey-brown-color {
  color: #34322e;
}

.has-dark-grey-brown-background-color {
  background-color: #34322e;
}

.has-dark-green-color {
  color: #364032;
}

.has-dark-green-background-color {
  background-color: #364032;
}

.has-beige-color {
  color: #CDC9A5;
}

.has-beige-background-color {
  background-color: #CDC9A5;
}

.has-army-green-color {
  color: #668C4A;
}

.has-army-green-background-color {
  background-color: #668C4A;
}

.has-light-army-green-color {
  color: #A6BF4B;
}

.has-light-army-green-background-color {
  background-color: #A6BF4B;
}

.has-cream-yellow-color {
  color: #F2F0D5;
}

.has-cream-yellow-background-color {
  background-color: #F2F0D5;
}

.has-yellow-orange-color {
  color: #F2C53D;
}

.has-yellow-orange-background-color {
  background-color: #F2C53D;
}

.has-medium-grey-color {
  color: #B1B1AC;
}

.has-medium-grey-background-color {
  background-color: #B1B1AC;
}

.has-dark-maroon-color {
  color: #281416;
}

.has-dark-maroon-background-color {
  background-color: #281416;
}

.has-maroon-color {
  color: #5c1d24;
}

.has-maroon-background-color {
  background-color: #5c1d24;
}

.has-book-cover-brown-color {
  color: #583F36;
}

.has-book-cover-brown-background-color {
  background-color: #583F36;
}

.has-muddy-brown-color {
  color: #715337;
}

.has-muddy-brown-background-color {
  background-color: #715337;
}

.has-medium-grey-blue-color {
  color: #677fa5;
}

.has-medium-grey-blue-background-color {
  background-color: #677fa5;
}

.has-light-grey-blue-color {
  color: #BFCAD8;
}

.has-light-grey-blue-background-color {
  background-color: #BFCAD8;
}

.has-subtle-blue-color {
  color: #EDF1F4;
}

.has-subtle-blue-background-color {
  background-color: #EDF1F4;
}

.has-trendy-grey-color {
  color: #666161;
}

.has-trendy-grey-background-color {
  background-color: #666161;
}

.has-dusty-grey-color {
  color: #ADA5A5;
}

.has-dusty-grey-background-color {
  background-color: #ADA5A5;
}

.has-rusty-maroon-color {
  color: #322323;
}

.has-rusty-maroon-background-color {
  background-color: #322323;
}

.has-trendy-maroon-color {
  color: #744140;
}

.has-trendy-maroon-background-color {
  background-color: #744140;
}

.has-eggshell-color {
  color: #F3E9D7;
}

.has-eggshell-background-color {
  background-color: #F3E9D7;
}

.has-subtle-red-color {
  color: #E6DADA;
}

.has-subtle-red-background-color {
  background-color: #E6DADA;
}

/* country inn */
.has-country-inn-dark-green-color {
  color: #047D65;
}

.has-country-inn-dark-green-background-color {
  background-color: #047D65;
}

.has-country-inn-lighter-green-color {
  color: #01B36A;
}

.has-country-inn-lighter-green-background-color {
  background-color: #01B36A;
}

/* add white */
.has-country-inn-rust-color {
  color: #914A3D;
}

.has-country-inn-rust-background-color {
  background-color: #914A3D;
}

.has-country-inn-tan-color {
  color: #A88548;
}

.has-country-inn-tan-background-color {
  background-color: #A88548;
}

.has-country-inn-offwhite-color {
  color: #F4F4D1;
}

.has-country-inn-offwhite-background-color {
  background-color: #F4F4D1;
}

.has-country-inn-light-blue-color {
  color: #A7CCD7;
}

.has-country-inn-light-blue-background-color {
  background-color: #A7CCD7;
}

.has-country-inn-darkest-green-color {
  color: #012E25;
}

.has-country-inn-darkest-green-background-color {
  background-color: #012E25;
}

.has-country-inn-dark-rust-color {
  color: #521B09;
}

.has-country-inn-dark-rust-background-color {
  background-color: #521B09;
}

/* chocolate bunny */
.has-chocolate-bunny-brown-color {
  color: #663F20;
}

.has-chocolate-bunny-brown-background-color {
  background-color: #663F20;
}

.has-chocolate-bunny-teal-color {
  color: #2CBFB1;
}

.has-chocolate-bunny-teal-background-color {
  background-color: #2CBFB1;
}

.has-chocolate-bunny-offwhite-color {
  color: #FFFCF5;
}

.has-chocolate-bunny-offwhite-background-color {
  background-color: #FFFCF5;
}

.has-chocolate-bunny-eggshell-color {
  color: #EDE1D3;
}

.has-chocolate-bunny-eggshell-background-color {
  background-color: #EDE1D3;
}

.has-chocolate-bunny-pink-color {
  color: #E8356E;
}

.has-chocolate-bunny-pink-background-color {
  background-color: #E8356E;
}

.has-chocolate-bunny-darker-brown-color {
  color: #523D30;
}

.has-chocolate-bunny-darker-brown-background-color {
  background-color: #523D30;
}

.has-chocolate-bunny-dark-teal-color {
  color: #235157;
}

.has-chocolate-bunny-dark-teal-background-color {
  background-color: #235157;
}

.has-chocolate-bunny-light-pink-color {
  color: #F9E9EB;
}

.has-chocolate-bunny-light-pink-background-color {
  background-color: #F9E9EB;
}

/* bold */
.has-bold-medium-grey-color {
  color: #878484;
}

.has-bold-medium-grey-background-color {
  background-color: #878484;
}

.has-bold-red-color {
  color: #FF0601;
}

.has-bold-red-background-color {
  background-color: #FF0601;
}

.has-bold-offwhite-color {
  color: #E6E1E1;
}

.has-bold-offwhite-background-color {
  background-color: #E6E1E1;
}

.has-bold-rust-color {
  color: #664948;
}

.has-bold-rust-background-color {
  background-color: #664948;
}

.has-bold-black-color {
  color: #000000;
}

.has-bold-black-background-color {
  background-color: #000000;
}

.has-bold-almost-black-color {
  color: #212121;
}

.has-bold-almost-black-background-color {
  background-color: #212121;
}

/* earthy */
.has-earthy-teal-color {
  color: #247A76;
}

.has-earthy-teal-background-color {
  background-color: #247A76;
}

.has-earthy-light-green-color {
  color: #9CAB16;
}

.has-earthy-light-green-background-color {
  background-color: #9CAB16;
}

.has-earthy-cream-color {
  color: #F7E7B7;
}

.has-earthy-cream-background-color {
  background-color: #F7E7B7;
}

.has-earthy-orange-red-color {
  color: #C23A34;
}

.has-earthy-orange-red-background-color {
  background-color: #C23A34;
}

.has-earthy-rust-brown-color {
  color: #613F1F;
}

.has-earthy-rust-brown-background-color {
  background-color: #613F1F;
}

.has-earthy-dark-color {
  color: #362D23;
}

.has-earthy-dark-background-color {
  background-color: #362D23;
}

.has-earthy-lighter-green-color {
  color: #C4D61C;
}

.has-earthy-lighter-green-background-color {
  background-color: #C4D61C;
}

.has-earthy-offwhite-color {
  color: #FEF6D6;
}

.has-earthy-offwhite-background-color {
  background-color: #FEF6D6;
}

.has-earthy-brick-color {
  color: #912D27;
}

.has-earthy-brick-background-color {
  background-color: #912D27;
}

/* farmstead */
.has-farmstead-teal-color {
  color: #007A62;
}

.has-farmstead-teal-background-color {
  background-color: #007A62;
}

.has-farmstead-green-color {
  color: #7BB35D;
}

.has-farmstead-green-background-color {
  background-color: #7BB35D;
}

.has-farmstead-cream-color {
  color: #F0EBDF;
}

.has-farmstead-cream-background-color {
  background-color: #F0EBDF;
}

.has-farmstead-tan-color {
  color: #C4B18D;
}

.has-farmstead-tan-background-color {
  background-color: #C4B18D;
}

.has-farmstead-medium-brown-color {
  color: #A85745;
}

.has-farmstead-medium-brown-background-color {
  background-color: #A85745;
}

.has-farmstead-dirt-brown-color {
  color: #4F4739;
}

.has-farmstead-dirt-brown-background-color {
  background-color: #4F4739;
}

.has-farmstead-yellow-green-color {
  color: #99B32B;
}

.has-farmstead-yellow-green-background-color {
  background-color: #99B32B;
}

.has-farmstead-mint-color {
  color: #DFFACF;
}

.has-farmstead-mint-background-color {
  background-color: #DFFACF;
}

.has-farmstead-darker-teal-color {
  color: #004537;
}

.has-farmstead-darker-teal-background-color {
  background-color: #004537;
}

/* harvest */
.has-harvest-army-green-color {
  color: #555C47;
}

.has-harvest-army-green-background-color {
  background-color: #555C47;
}

.has-harvest-light-green-color {
  color: #A19F43;
}

.has-harvest-light-green-background-color {
  background-color: #A19F43;
}

.has-harvest-cream-color {
  color: #FEF2D8;
}

.has-harvest-cream-background-color {
  background-color: #FEF2D8;
}

.has-harvest-maroon-color {
  color: #591507;
}

.has-harvest-maroon-background-color {
  background-color: #591507;
}

.has-harvest-orange-red-color {
  color: #D15401;
}

.has-harvest-orange-red-background-color {
  background-color: #D15401;
}

.has-harvest-light-orange-color {
  color: #FFA256;
}

.has-harvest-light-orange-background-color {
  background-color: #FFA256;
}

.has-harvest-yellow-orange-color {
  color: #FFC34F;
}

.has-harvest-yellow-orange-background-color {
  background-color: #FFC34F;
}

/* neutral trend */
.has-neutral-trend-dark-blue-color {
  color: #4B4B5E;
}

.has-neutral-trend-dark-blue-background-color {
  background-color: #4B4B5E;
}

has-neutral-trend-medium-grey-color {
  color: #676782;
}

.has-neutral-trend-medium-grey-background-color {
  background-color: #676782;
}

.has-neutral-trend-light-grey-color {
  color: #C5C6C9;
}

.has-neutral-trend-light-grey-background-color {
  background-color: #C5C6C9;
}

.has-neutral-trend-lighter-grey-color {
  color: #D2D3D6;
}

.has-neutral-trend-lighter-grey-background-color {
  background-color: #D2D3D6;
}

.has-neutral-trend-cream-color {
  color: #FAF9ED;
}

.has-neutral-trend-cream-background-color {
  background-color: #FAF9ED;
}

.has-neutral-trend-pink-color {
  color: #FF9391;
}

.has-neutral-trend-pink-background-color {
  background-color: #FF9391;
}

.has-neutral-trend-rose-color {
  color: #CC4545;
}

.has-neutral-trend-rose-background-color {
  background-color: #CC4545;
}

.has-neutral-trend-dark-grey-color {
  color: #4E5563;
}

.has-neutral-trend-dark-grey-background-color {
  background-color: #4E5563;
}

/* neutral yellow */
.has-neutral-yellow-dark-grey-color {
  color: #545247;
}

.has-neutral-yellow-dark-grey-background-color {
  background-color: #545247;
}

.has-neutral-yellow-medium-grey-color {
  color: #918F86;
}

.has-neutral-yellow-medium-grey-background-color {
  background-color: #918F86;
}

.has-neutral-yellow-light-grey-color {
  color: #D1CEC0;
}

.has-neutral-yellow-light-grey-background-color {
  background-color: #D1CEC0;
}

.has-neutral-yellow-cream-color {
  color: #FDF6DD;
}

.has-neutral-yellow-cream-background-color {
  background-color: #FDF6DD;
}

.has-neutral-yellow-yellow-color {
  color: #FACC52;
}

.has-neutral-yellow-yellow-background-color {
  background-color: #FACC52;
}

.has-neutral-yellow-yellow-orange-color {
  color: #e89d2f;
}

.has-neutral-yellow-yellow-orange-background-color {
  background-color: #e89d2f;
}

/* trendy rainbow */
.has-trendy-rainbow---bold-purple-color {
  color: #49415C;
}

.has-trendy-rainbow---bold-purple-background-color {
  background-color: #49415C;
}

.has-trendy-rainbow---bold-blue-color {
  color: #4F5FC7;
}

.has-trendy-rainbow---bold-blue-background-color {
  background-color: #4F5FC7;
}

.has-trendy-rainbow---bold-green-color {
  color: #8EB52A;
}

.has-trendy-rainbow---bold-green-background-color {
  background-color: #8EB52A;
}

.has-trendy-rainbow---bold-yellow-color {
  color: #FFD154;
}

.has-trendy-rainbow---bold-yellow-background-color {
  background-color: #FFD154;
}

.has-trendy-rainbow---bold-pink-color {
  color: #F02874;
}

.has-trendy-rainbow---bold-pink-background-color {
  background-color: #F02874;
}

/* vintage rocket */
.has-vintage-rocket-light-blue-color {
  color: #B1D3D1;
}

.has-vintage-rocket-light-blue-background-color {
  background-color: #B1D3D1;
}

.has-vintage-rocket-cream-color {
  color: #F4F3E3;
}

.has-vintage-rocket-cream-background-color {
  background-color: #F4F3E3;
}

.has-vintage-rocket-tan-color {
  color: #F0CE86;
}

.has-vintage-rocket-tan-background-color {
  background-color: #F0CE86;
}

.has-vintage-rocket-orange-color {
  color: #E43604;
}

.has-vintage-rocket-orange-background-color {
  background-color: #E43604;
}

.has-vintage-rocket-deep-red-color {
  color: #230800;
}

.has-vintage-rocket-deep-red-background-color {
  background-color: #230800;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  font-size: var(--typography-base_font_size);
  margin: 0;
  font-family: var(--typography-body_text);
  -webkit-tap-highlight-color: #ff0;
  background-color: var(--body--background_color);
  color: var(--body--text_color);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
@media (max-width: 600px) {
  body {
    line-height: 1.2;
  }
}

.highlight,
::selection {
  background: #ff0;
}

div.site-content {
  flex: 1;
}

a {
  color: var(--body--link_color);
  transition: all 200ms ease-in-out;
}
a:hover, a:focus, a:active {
  color: var(--body--link_color_hover);
}

blockquote {
  position: relative;
  padding: 1rem;
}
blockquote:before {
  content: "“";
  font-family: Georgia, serif;
  font-size: 90px;
  font-weight: bold;
  opacity: 0.2;
  position: absolute;
  left: -1.5rem;
  top: -1.5rem;
}

.hide-this {
  visibility: hidden;
  height: 0;
  width: 0;
  position: absolute;
}
.hide-this svg {
  display: none;
}

.wp-block-button__link,
.button,
a.button,
input[type=submit],
button,
a.wp-block-button__link {
  transition: all 200ms ease-in-out;
  background: var(--button--background_color);
  color: var(--button--text_color);
}
.wp-block-button__link:hover, .wp-block-button__link:focus, .wp-block-button__link:visited:hover,
.button:hover,
.button:focus,
.button:visited:hover,
a.button:hover,
a.button:focus,
a.button:visited:hover,
input[type=submit]:hover,
input[type=submit]:focus,
input[type=submit]:visited:hover,
button:hover,
button:focus,
button:visited:hover,
a.wp-block-button__link:hover,
a.wp-block-button__link:focus,
a.wp-block-button__link:visited:hover {
  background: var(--button_hover--background_color);
  color: var(--button_hover--text_color);
}
.wp-block-button__link.full,
.button.full,
a.button.full,
input[type=submit].full,
button.full,
a.wp-block-button__link.full {
  display: block;
  text-align: center;
}
.wp-block-button__link.text_link,
.button.text_link,
a.button.text_link,
input[type=submit].text_link,
button.text_link,
a.wp-block-button__link.text_link {
  background: none;
  color: var(--body--link_color);
}
.wp-block-button__link.text_link:hover, .wp-block-button__link.text_link:focus, .wp-block-button__link.text_link:active,
.button.text_link:hover,
.button.text_link:focus,
.button.text_link:active,
a.button.text_link:hover,
a.button.text_link:focus,
a.button.text_link:active,
input[type=submit].text_link:hover,
input[type=submit].text_link:focus,
input[type=submit].text_link:active,
button.text_link:hover,
button.text_link:focus,
button.text_link:active,
a.wp-block-button__link.text_link:hover,
a.wp-block-button__link.text_link:focus,
a.wp-block-button__link.text_link:active {
  color: var(--body--link_color_hover);
}
.is-style-outline .wp-block-button__link,
.is-style-outline .button,
.is-style-outline a.button,
.is-style-outline input[type=submit],
.is-style-outline button,
.is-style-outline a.wp-block-button__link {
  border-color: var(--button--background_color);
  color: var(--button--background_color);
}
.is-style-outline .wp-block-button__link:hover, .is-style-outline .wp-block-button__link:focus, .is-style-outline .wp-block-button__link:visited:hover,
.is-style-outline .button:hover,
.is-style-outline .button:focus,
.is-style-outline .button:visited:hover,
.is-style-outline a.button:hover,
.is-style-outline a.button:focus,
.is-style-outline a.button:visited:hover,
.is-style-outline input[type=submit]:hover,
.is-style-outline input[type=submit]:focus,
.is-style-outline input[type=submit]:visited:hover,
.is-style-outline button:hover,
.is-style-outline button:focus,
.is-style-outline button:visited:hover,
.is-style-outline a.wp-block-button__link:hover,
.is-style-outline a.wp-block-button__link:focus,
.is-style-outline a.wp-block-button__link:visited:hover {
  border-color: var(--button_hover--background_color);
  color: var(--button_hover--background_color);
}

.padding {
  padding: 4rem;
}

.centered-text {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.3em;
  line-height: 1.1;
  font-family: var(--typography-header_text);
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

p {
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.page-content ul,
.page-content ol {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: var(--typography-h1_size);
  line-height: 1;
}
@media (max-width: 600px) {
  h1 {
    font-size: calc(var(--typography-h1_size) * 0.8);
  }
}

h2 {
  font-size: var(--typography-h2_size);
}
@media (max-width: 600px) {
  h2 {
    font-size: calc(var(--typography-h2_size) * 0.8);
  }
}

h3 {
  font-size: var(--typography-h3_size);
}
@media (max-width: 600px) {
  h3 {
    font-size: calc(var(--typography-h3_size) * 0.8);
  }
}

h4 {
  font-size: var(--typography-h4_size);
}
@media (max-width: 600px) {
  h4 {
    font-size: calc(var(--typography-h4_size) * 0.8);
  }
}

h5 {
  font-size: var(--typography-h5_size);
}
@media (max-width: 600px) {
  h5 {
    font-size: calc(var(--typography-h5_size) * 0.8);
  }
}

h6 {
  font-size: var(--typography-h6_size);
}
@media (max-width: 600px) {
  h6 {
    font-size: calc(var(--typography-h6_size) * 0.8);
  }
}

@media (min-width: 900px) {
  .main-two-columns {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    max-width: 1230px;
  }
  .main-two-columns .main-column {
    width: 63.8%;
    padding-right: 30px;
    padding-top: 2rem;
  }
  .main-two-columns .secondary-column {
    width: 36.2%;
    padding-left: 30px;
    padding-top: 3rem;
  }
}
@media (min-width: 600px) and (max-width: 900px) and (orientation: portrait) {
  .wp-block-columns {
    flex-wrap: wrap;
    width: 100%;
  }
  .wp-block-column[style*=flex-basis].block-on-tablet-down {
    width: 100%;
    flex: 1;
    flex-grow: 1;
  }
  .wp-block-column[style*=flex-basis].block-on-tablet-down + .wp-block-column[style*=flex-basis] {
    width: 100%;
    flex-basis: 100% !important;
  }
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.alignleft {
  float: left;
  margin: 0.8rem 1.6rem 0.8rem 0;
}

.alignright {
  float: right;
  margin: 0.8rem 0 0.8rem 1.6rem;
}

.wp-caption {
  text-align: center;
}

img.alignright {
  float: right;
  margin: 2rem 0 2rem 2rem;
  max-width: 50%;
}
img.alignleft {
  float: left;
  margin: 2rem 2rem 2rem 0;
  max-width: 50%;
}
img.aligncenter {
  width: 95%;
  clear: both;
  height: auto;
  margin: 2rem auto;
  max-width: none;
}

.gallery {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  padding: 2rem;
  margin: 2rem auto;
}
.gallery li {
  display: inline-flex;
  flex: 33.333%;
  margin: 0;
}
.gallery a {
  display: block;
}

/**
 * base form styles
 */
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
input[type=month],
input[type=week],
input[type=date],
input[type=datetime],
input[type=datetime-local],
select,
textarea {
  padding: 0.5em 0.75em;
  box-shadow: none;
  -webkit-appearance: none;
}
fieldset {
  border: none;
  padding: 1rem 0;
  margin-bottom: 3rem;
}

.frm_description {
  font-size: 80%;
  opacity: 0.8;
  margin-bottom: 2rem;
}

.frm_form_field.form-field {
  margin-bottom: 2.5rem;
}
.frm_form_field.form-field input,
.frm_form_field.form-field textarea {
  display: block;
  width: 100%;
}
.frm_form_field.form-field input[type=radio],
.frm_form_field.form-field input[type=checkbox] {
  width: auto;
  display: inline-block;
}

.frm_error,
.frm_required {
  color: var(--form_error_text);
  font-weight: bold;
}

textarea[aria-invalid=true],
input[aria-invalid=true] {
  border: 1px solid var(--form_error_text);
}

.frm_form_field.frm_left_container input:not([type=radio]):not([type=checkbox]), .frm_form_field.frm_left_container:not(.frm_dynamic_select_container) select, .frm_form_field.frm_left_container textarea, .frm_form_field.frm_left_container .wp-editor-wrap, .frm_form_field.frm_left_container .frm_opt_container, .frm_form_field.frm_left_container .frm_dropzone, .frm_form_field.frm_left_container .frm-g-recaptcha, .frm_form_field.frm_left_container .g-recaptcha, .frm_form_field.frm_left_container .chosen-container, .frm_form_field.frm_left_container .frm_combo_inputs_container, .frm_form_field.frm_right_container input:not([type=radio]):not([type=checkbox]), .frm_form_field.frm_right_container:not(.frm_dynamic_select_container) select, .frm_form_field.frm_right_container textarea, .frm_form_field.frm_right_container .wp-editor-wrap, .frm_form_field.frm_right_container .frm_opt_container, .frm_form_field.frm_right_container .frm_dropzone, .frm_form_field.frm_right_container .frm-g-recaptcha, .frm_form_field.frm_right_container .g-recaptcha, .frm_form_field.frm_right_container .chosen-container, .frm_form_field.frm_right_container .frm_combo_inputs_container {
  max-width: 100%;
}

.frm_form_field.frm_left_container label.frm_primary_label {
  max-width: 90%;
}

.widget_search form.search-form {
  display: flex;
}
.widget_search form.search-form label {
  flex: 1;
}
.widget_search input[type=search] {
  margin: 0 -2px 0 0;
  width: 100%;
}
.widget_search input[type=submit] {
  font-size: 80%;
  padding: 8px 10px;
  margin: 0 0 0 -5px;
}

#full_page_sticky_container {
  position: relative;
}

.site-header {
  position: sticky;
  top: 0;
  max-width: 100vw;
  z-index: 999999;
}
.site-header .site-header-content-container {
  display: flex;
  align-items: center;
  position: absolute;
  min-height: 4em;
  width: 100%;
  padding: 2px 2rem;
  transition: all 200ms ease-in-out;
  background: var(--header--background_color);
  color: var(--header--nav_text_color);
}
@media (max-width: 600px) {
  .site-header .site-header-content-container {
    padding: 2px 1rem;
  }
}
.site-header.smaller .site-header-content-container {
  background-color: var(--smaller_header--background_color);
  color: var(--smaller_header--nav_text_color);
}
.site-header .site-logo {
  padding: 5px 15px;
  color: var(--header--nav_text_color);
}
.site-header .site-logo a {
  color: currentColor;
  text-decoration: none;
}
.site-header .site-logo img {
  height: auto;
  width: 80vw;
  min-width: 120px;
  max-width: 250px;
}
.site-header .site-logo h1 {
  margin: 0;
}
.site-header .site-logo svg {
  width: 50vw;
  min-width: 150px;
  max-width: 250px;
  transition: all 250ms ease-in-out;
  fill: var(--header--nav_text_color);
}
.site-header.smaller .site-logo a {
  color: var(--smaller_header--nav_text_color);
  text-decoration: none;
}
.site-header.smaller .site-logo h1 {
  margin: 0;
  font-size: calc(var(--typography-h1_size) * 0.7);
}
.site-header.smaller .site-logo svg {
  max-width: 150px;
  fill: var(--smaller_header--nav_text_color);
}
.site-header .main-navigation {
  text-align: center;
  position: relative;
  flex: 1;
  z-index: 9999999;
  display: flex;
  line-height: 1;
  align-items: baseline;
}
.site-header .main-navigation button {
  align-self: stretch;
  padding: 0 0.76em 0 1.1em;
  transition: all 200ms ease-in-out;
  outline: 0;
  border: 0;
  font-size: 0.9rem;
}
.site-header .main-navigation button.hidden {
  transition: none;
  width: 0;
  padding: 0;
  overflow: hidden;
}
.site-header .main-navigation button:after {
  content: attr(count);
  display: inline-flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  background-color: var(--nav_item_hover--background_color);
  color: var(--nav_item_hover--text_color);
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.9);
  border-radius: 50%;
  font-size: 11px;
  line-height: 11px;
  margin: 0 -0.25em 0 0.4em;
}
.site-header .main-navigation ul.links {
  margin-bottom: -2rem;
  margin-top: 0;
  padding: 0 0 0 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  transition: all 200ms ease-in-out;
}
.site-header .main-navigation ul.links li {
  list-style-type: none;
  margin: 0 1px 0 0;
  padding: 0;
}
.site-header .main-navigation ul.links li.menu-item-has-children {
  position: relative;
}
.site-header .main-navigation ul.links li.menu-item-has-children:hover > ul.menu, .site-header .main-navigation ul.links li.menu-item-has-children:focus > ul.menu, .site-header .main-navigation ul.links li.menu-item-has-children:target > ul.menu {
  max-height: 90vh;
  background-color: var(--smaller_header--background_color);
}
.site-header .main-navigation ul.links li.menu-item-has-children > ul.menu {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  flex-direction: column;
  align-content: stretch;
  font-size: 90%;
  width: 100%;
  padding: 0.25em;
  transition: max-height 750ms ease-in-out;
}
.site-header .main-navigation ul.links li.menu-item-has-children > ul.menu li {
  display: block;
  width: 100%;
}
.site-header .main-navigation ul.links li.menu-item-has-children > ul.menu li a {
  display: block;
  color: var(--smaller_header--nav_text_color);
}
.site-header .main-navigation ul.hidden-links {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  right: 0;
  top: 110%;
}
.site-header .main-navigation ul.hidden-links a {
  color: var(--smaller_header--nav_text_color);
}
.site-header .main-navigation ul.hidden-links li {
  padding: 0;
  margin-bottom: 1px;
  background-color: var(--smaller_header--background_color);
}
.site-header .main-navigation ul.hidden-links.hidden {
  display: none;
}
.site-header .main-navigation ul.hidden-links li.menu-item-has-children ul {
  padding: 0;
  list-style: none;
  border-left: 5px solid var(--header_dark--background_color);
  border-top: 1px dotted var(--header_dark--background_color);
  border-bottom: 1px solid var(--header_dark--background_color);
}
.site-header .main-navigation a {
  display: block;
  padding: 0.5em 1.05em;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  text-align: left;
  color: var(--header--nav_text_color);
}
.site-header .main-navigation a:hover, .site-header .main-navigation a:focus, .site-header .main-navigation a:target {
  background-color: var(--nav_item_hover--background_color);
  color: var(--nav_item_hover--text_color);
}
.site-header .main-navigation #menu-home svg {
  fill: currentColor;
  height: 1em;
  width: 1em;
}
.site-header.smaller .main-navigation {
  color: var(--smaller_header--nav_text_color);
}
.site-header.smaller .main-navigation a {
  color: currentColor;
}
.site-header.smaller .main-navigation a:hover, .site-header.smaller .main-navigation a:focus, .site-header.smaller .main-navigation a:target {
  background-color: var(--nav_item_hover--background_color);
  color: var(--nav_item_hover--text_color);
}

.page_featured_image_container:after {
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.6;
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--header_dark--background_color);
}

.no-featured-image .page_heading_area {
  background-color: var(--header_dark--background_color);
}

#main {
  width: 100%;
}

footer.site-footer {
  padding: 2rem 0;
}
footer.site-footer .footer-widget-area {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
@media (max-width: 900px) {
  footer.site-footer .footer-widget-area {
    display: block;
  }
}
footer.site-footer .footer-widget-area > div {
  flex: 1;
  margin: 2em 0;
  padding: 2em 1em 2em 1.2em;
}
@media (max-width: 900px) {
  footer.site-footer .footer-widget-area > div {
    max-width: 100%;
    display: block;
    clear: both;
    border-right: none;
    text-align: center;
  }
}
footer.site-footer .footer-widget-area > div:last-child {
  border-right: none;
}
@media (max-width: 900px) {
  footer.site-footer .footer-widget-area > div:last-child {
    border-bottom: none;
  }
}
footer.site-footer .footer-widget-area .widget_nav_menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer.site-footer .footer-widget-area h4.widgettitle {
  text-align: center;
}
footer.site-footer .footer-widget-area div.column div.widget:first-child h4.widgettitle {
  margin-top: 0;
}
footer.site-footer .social-links {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
  clear: both;
}
footer.site-footer .social-links li {
  display: inline;
}
footer.site-footer .social-links li span {
  padding: 1rem;
}
footer.site-footer .social-links li a {
  text-decoration: none;
}
footer.site-footer p {
  width: 90%;
  max-width: none;
}

.page_featured_image_container {
  min-height: 33vh;
  position: relative;
}
.page_featured_image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.page_featured_image_container .page_heading_area {
  padding: 8em 2em 2em 2em;
  z-index: 99;
  position: relative;
  text-align: center;
}

.page_title,
h1.page_title,
h2.page_title {
  font-size: var(--typography-h1_size);
  font-weight: 800;
  margin-top: 0;
  line-height: 1;
  text-align: center;
  color: var(--page_header--page_title);
  padding: 0.3em 10px 0.15em 10px;
}
.no-featured-image .page_title,
.no-featured-image h1.page_title,
.no-featured-image h2.page_title {
  padding-top: 2.2em;
}

.page_tagline {
  color: var(--page_header--page_tagline);
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.5;
  padding-bottom: 2.75em;
}
.no-featured-image .page_heading_area {
  padding-bottom: 2em;
}

.homepage_hero-container {
  height: 85vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
}
.homepage_hero-container.two-thirds-height {
  height: 67vh;
}
.homepage_hero-container.one-half-height {
  height: 45vh;
}
.homepage_hero-container.one-half-height .homepage_hero_text {
  width: 90%;
  max-width: 520px;
  font-size: 90%;
}
.homepage_hero-container.one-half-height .homepage_hero_text h1 {
  font-size: calc(var(--type_opt-base_font_size) * 2.5);
}
@media (max-width: 600px) {
  .homepage_hero-container {
    min-height: 110vh;
    display: block;
  }
}
.homepage_hero-container.left-side {
  text-align: left;
  justify-content: flex-start;
  padding-left: 20%;
}
.homepage_hero-container.right-side {
  text-align: right;
  justify-content: flex-end;
  padding-right: 25%;
}
.homepage_hero-container.align-top {
  align-items: flex-start;
  padding-top: 5%;
}
.homepage_hero-container.align-middle {
  align-items: center;
}
.homepage_hero-container.align-bottom {
  align-items: flex-end;
  padding-bottom: 10%;
}
@media (max-width: 600px) {
  .homepage_hero-container.left-side, .homepage_hero-container.right-side {
    padding-left: 5%;
    padding-right: 15%;
  }
  .homepage_hero-container.align-top, .homepage_hero-container.align-middle, .homepage_hero-container.align-bottom {
    padding-top: 60px;
    padding-bottom: 2rem;
  }
}
.homepage_hero-container .homepage_hero_text {
  width: 80%;
  max-width: 480px;
}
.homepage_hero-container .homepage_hero_text h1 {
  margin-top: 0;
}

header.article-header .byline {
  padding: 0 0 6rem 0;
}

nav.next-and-previous-posts {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
nav.next-and-previous-posts > div {
  padding: 2rem;
}

span.pulled-right {
  display: block;
  float: right;
  clear: right;
  padding: 0 0 0 10px;
  margin: 0 0 20px 20px;
  width: 230px;
  font-size: 1.5em;
  line-height: 1.3;
  text-align: right;
  border-left: 3px solid var(--primary_button_background_color);
}
@media (max-width: 900px) {
  span.pulled-right {
    width: 200px;
    font-size: 1.3em;
  }
}

span.pulled-left {
  display: block;
  float: left;
  clear: left;
  padding: 0 10px 0 0;
  margin: 0 20px 20px 0;
  width: 230px;
  font-size: 1.5em;
  line-height: 1.3;
  text-align: left;
  border-right: 3px solid var(--primary_button_background_color);
}
@media (max-width: 900px) {
  span.pulled-left {
    width: 200px;
    font-size: 1.3em;
  }
}

.icon-email-dims {
  width: 100px;
  height: 100px;
}

.icon-etsy-dims {
  width: 32px;
  height: 32px;
}

.icon-facebook-dims {
  width: 32px;
  height: 32px;
}

.icon-flickr-dims {
  width: 32px;
  height: 32px;
}

.icon-folder-dims {
  width: 100px;
  height: 100px;
}

.icon-googleplus-dims {
  width: 32px;
  height: 32px;
}

.icon-instagram-dims {
  width: 32px;
  height: 32px;
}

.icon-linkedin-dims {
  width: 32px;
  height: 32px;
}

.icon-paypal-dims {
  width: 32px;
  height: 32px;
}

.icon-rss-dims {
  width: 32px;
  height: 32px;
}

.icon-spotify-dims {
  width: 32px;
  height: 32px;
}

.icon-tags-dims {
  width: 100px;
  height: 100px;
}

.icon-twitter-dims {
  width: 32px;
  height: 32px;
}

.icon-wordpressdotcom-dims {
  width: 32px;
  height: 32px;
}

.icon-youtube-dims {
  width: 32px;
  height: 32px;
}

/******************************************************************

Stylesheet: Print Stylesheet

This is the print stylesheet. There's probably not a lot
of reasons to edit this stylesheet. 

Remember to add things that won't make sense to print at 
the bottom. Things like nav, ads, and forms shouldbe set 
to display none.
******************************************************************/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a:after, a:visited:after {
    content: " (" attr(href) ")";
  }
  a abbr[title]:after, a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */
