/**
 *  global styles for start-made blocks in edit mode
 */

.wp-block {
	max-width: 95%;
}

.block-editor-block-list__layout,
.editor-block-list__layout,
.block-editor-block-list__block {
	.editor-block-list__block {
		.editor-block-list__block-edit {
			&:before {
				border: 1px solid rgba( $blue-purple, 0.4 );  // always show light boarder around all blocks

			}
		}

	} /* /.editor-block-list__block */
	&.is-selected {
		> .block-editor-block-list__block-edit {
			&:before {
				border: 2px solid $gold;
				border-color: $gold;
			}
		}
	}

	.editor-block-mover {
		opacity: 1;  // always show the move handle on the left of the block
	}

	&.block-editor-block-list__layout {
		margin-top: 6rem;
	}
} /* /.editor-block-list__layout */

.block-editor-block-list__layout {
	.block-editor-block-list__block {
		>.block-editor-block-list__insertion-point {
			top: -3rem;
		}

		&.is-selected {
			> .block-editor-block-list__block-edit {
				&:before {
					border: 2px solid $gold;
					border-color: $gold;
				}
			}
		}
	}
}


.block-editor-block-list__insertion-point-inserter,
.editor-block-list__insertion-point-inserter:not(:hover) {
	opacity: 1; // keep the "add block" icon above a block visible always.
	.editor-inserter__toggle {
		color: rgba( $dark, 0.3 );
	}
	.block-editor-inserter__toggle {
		background: $white;
	}
}
.edit-post-visual-editor {
	.editor-default-block-appender {
		.editor-inserter__toggle,
		.editor-inserter__toggle:not([aria-expanded=true]) {
			opacity: 0.4;  // always show the little plus icon to add a block
		}
	}
	.block-editor-block-list__block {
		margin-bottom: 6rem;
	}
} /* /.edit-post-visual-editor */

.editor-post-title__block .editor-post-title__input {
	border-color: rgba( $blue-purple, 0.4 );
}

.editor-block-list__empty-block-inserter.block-editor-block-list__empty-block-inserter {
	opacity: 1;
}

// global style-y things
.padding {
	padding: 10px;
}